<!doctype html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# pinified: http://ogp.me/ns/fb/pinified#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @title || 'Pinify' %></title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= css :styles %>

  <% if @graph_photo %>
    <meta property="fb:app_id"      content="252217294822764">
    <meta property="og:type"        content="pinified:photo">
    <meta property="og:url"         content="http://pinify.me/<%= @id %>">
    <meta property="og:title"       content="<%= @graph_photo[:title] %>">
    <meta property="og:description" content="<%= @graph_photo[:description] %>">
    <meta property="og:image"       content="https://s3.amazonaws.com/i.pinify.me/<%= @id %>.jpg">
  <% end %>

  <%= js :libs %>

  <script type="text/javascript">var mpq=[];mpq.push(["init","3c546da00a0227193ec722fa9e4036da"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();</script>
</head>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '252217294822764',
        status: true,
        cookie: true,
        xfbml: true,
        channelUrl: 'http://pinify.me/channel.html',
        oauth: true
      });
    };

    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>

  <div id="content">
    <%= yield %>
  </div>

  <script>
    var _gaq=[['_setAccount','UA-316852-15'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e603a5a613f5d37a0000003');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
