<div id="<%= id %>" class="image <%= 'xhr' if request.xhr? %>">
  <a href="<%= imgur_url || s3_url(true) %>"><img src="<%= s3_url %>" /></a>
</div>

<div class="imgur">
  <div class="sidebar">
    #<br/>#<br/>#<br/>#<br/>#<br/>
  </div>

  <div class="message">
    ########################################<br/><br/>
    &nbsp;
    <% if imgur_url %>
      <a href="<%= imgur_url %>">View on imgur</a>
    <% else %>
      <a class="imgur-upload" data-src="<%= s3_url(true) %>" href="#">Save to imgur</a>
    <% end %>
    or drag another image here<br/><br/>
    ########################################<br/>
  </div>

  <div class="sidebar">
    #<br/>#<br/>#<br/>#<br/>#<br/>
  </div>
</div>
